# Nuxt dev/build outputs
.output
.data
.nuxt
.nuxt_root_backup
.nitro
.nitro_root_backup
.cache
dist
.node_modules_root_backup

# Node dependencies
node_modules
cert-local/

# Logs
logs
*.log
.eslintcache

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
